## **Data Types and Structures**
## Assignment Questions

# **Data Types and Structures Questions**

 1. What are data structures, and why are they important

 2. Explain the difference between mutable and immutable data types with examples

 3. What are the main differences between lists and tuples in Python

 4. Describe how dictionaries store data

 5. Why might you use a set instead of a list in Python

 6. What is a string in Python, and how is it different from a list

 7. How do tuples ensure data integrity in Python

 8. What is a hash table, and how does it relate to dictionaries in Python

 9. Can lists contain different data types in Python

 10. Explain why strings are immutable in Python

 11. What advantages do dictionaries offer over lists for certain tasks

 12. How do sets handle duplicate values in Python

 13. Describe a scenario where using a tuple would be preferable over a list

 14. How does the “in” keyword work differently for lists and dictionaries

 15. Can you modify the elements of a tuple? Explain why or why not

 16. What is a nested dictionary, and give an example of its use case

 17. Describe the time complexity of accessing elements in a dictionary

 18. In what situations are lists preferred over dictionaries

 19. Why are dictionaries considered unordered, and how does that affect data retrieval

 20. Explain the difference between a list and a dictionary in terms of data retrieval

# **Practical Questions**

 1. Write a code to create a string with your name and print it

 2. Write a code to find the length of the string "Hello World"

 3. Write a code to slice the first 3 characters from the string "Python Programming"

 4. Write a code to convert the string "hello" to uppercase

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

 6. Write a code to create a list with numbers 1 to 5 and print it

 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

 10. Write a code to reverse the list [10, 20, 30, 40, 50].

 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
 result.(replaced)
 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
28. Write a code to create a list with strings and print the element at the third index.
 29. Write a code to combine two dictionaries into one and print the result.
 30. Write a code to convert a list of strings into a set

Q1. What are data structures, and why are they important

A data structure is a way of organizing, storing, and managing data in a computer so it can be used efficiently.

Efficient data management

Optimized algorithms

Better resource usage

Scalability

Foundation of software development

Q2.Explain the difference between mutable and immutable data types with examples

Mutable → Can be changed in place.

Immutable → Cannot be changed; new object is created if modification is attempted

In [1]:
#Mutable Data Types
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [3]:
#Immutable Data Types
my_str = "hello"
new_str = my_str.replace("h", "y")
print(my_str)
print(new_str)

hello
yello

Q3.What are the main differences between lists and tuples in Python

Use list when you need a dynamic, changeable collection.

Use tuple when you want fixed, unchangeable data (like constants).

Q4.Describe how dictionaries store data

A dictionary in Python is an unordered, mutable collection of key–value pairs where each key is unique and mapped to a specific value. Internally, it uses a hash table to store and quickly retrieve data based on keys.

Q5.Why might you use a set instead of a list in Python

Use a set when you want unique items, faster lookups, and set operations.
Use a list when order matters or when you need duplicates.

Q6.What is a string in Python, and how is it different from a list

String = immutable sequence of characters (used for text).

List = mutable sequence of any objects (used for collections).

Q7.How do tuples ensure data integrity in Python

Tuples ensure data integrity by being immutable, making stored data safe from accidental or unauthorized modification.

Q8.What is a hash table, and how does it relate to dictionaries in Python

A hash table is a data structure that stores data in key–value pairs and allows very fast lookups, insertions, and deletions (on average O(1) time).

It uses a hash function to convert a key into a hash value (an integer).

That hash value decides the index (slot) where the value will be stored in memory.

In [5]:
# In Python, a dictionary is implemented using a hash table internally.
student = {"name": "Alice", "age": 21}
# Python:
# Hashes the key "name" → finds a slot → stores value "Alice"
# Hashes the key "age" → finds another slot → stores value 21

Q9.Can lists contain different data types in Python

In Python, lists can contain different data types within the same list because Python lists are heterogeneous containers.

In [6]:
my_list = [10, "hello", 3.14, True, [1, 2, 3]]
print(my_list)
# [10, 'hello', 3.14, True, [1, 2, 3]]

[10, 'hello', 3.14, True, [1, 2, 3]]

Q10.Explain why strings are immutable in Python

immutability ensures strings are reliable, memory-efficient, and suitable for use in hash-based collections like dicts and sets.

Q11.What advantages do dictionaries offer over lists for certain tasks

1. Fast Access: Dictionaries provide O(1) lookup for values using keys, whereas lists require O(n) time to search.

2. Meaningful Keys: Data is accessed via descriptive keys instead of numeric indices, improving readability.

3. No Index Dependence: You don’t need to remember positions; each value has a clear key.

4. Flexible and Dynamic: You can easily add, update, or delete key-value pairs.

5. Efficient for Sparse Data: Dictionaries store only existing key-value pairs, saving memory for datasets with gaps.

6. Better Organization: Ideal for mapping relationships, such as name → phone number, making code more intuitive.

Q12.How do sets handle duplicate values in Python

In Python, sets automatically eliminate duplicate values. When you add elements to a set, it only keeps unique items, so any repeated value is ignored. This is because sets are unordered collections of distinct elements.

Q13.Describe a scenario where using a tuple would be preferable over a list

A tuple is preferable over a list in scenarios where you want to store a collection of items that should not change, ensuring data integrity. Since tuples are immutable, they prevent accidental modification of their contents.

Tuple: (28.6139, 77.2090) → Safe, fixed, cannot change.

List: [28.6139, 77.2090] → Mutable, can be modified by mistake.

Q14.How does the “in” keyword work differently for lists and dictionaries

The in keyword in Python is used to check membership, but it behaves slightly differently for lists and dictionaries because of how each data structure stores data.

List: in checks for a value anywhere in the list.

Dictionary: in checks for a key, not a value.

Q15.Can you modify the elements of a tuple? Explain why or why not

No, you cannot modify the elements of a tuple directly because tuples are immutable in Python.

Immutability: Once a tuple is created, its elements cannot be changed, added, or removed. Python enforces this to ensure data integrity and allows tuples to be used as keys in dictionaries or stored in sets (which require hashable objects).

Fixed memory structure: Tuples have a fixed size in memory. Modifying an element would require changing the memory layout, which is not allowed.

In [7]:
t = (1, 2, 3)
# Trying to change the first element
t[0] = 10   # ❌ This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [8]:
t = (1, [2, 3], 4)
t[1][0] = 20  # ✅ This works, the list inside the tuple is modified
print(t)      # Output: (1, [20, 3], 4)

(1, [20, 3], 4)

Q16.What is a nested dictionary, and give an example of its use case

A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its values. This allows you to represent more complex, hierarchical data structures.

In [9]:
students = {
    "Alice": {"Math": 85, "Science": 92, "English": 88},
    "Bob": {"Math": 78, "Science": 75, "English": 80},
    "Charlie": {"Math": 90, "Science": 85, "English": 87}
}

# Accessing Bob's Science score
print(students["Bob"]["Science"])  # Output: 75

# Adding a new subject for Alice
students["Alice"]["History"] = 95

75

Q17.Describe the time complexity of accessing elements in a dictionary

dictionaries are implemented as hash tables, which affects their time complexity for different operations.

Accessing Elements

Operation: value = my_dict[key]

Average Time Complexity: O(1) (constant time)

This is because Python computes the hash of the key and directly finds the location of the value in memory.

Worst-Case Time Complexity: O(n)

Rare scenario: If many keys hash to the same slot (hash collision), Python may need to search through multiple items in that bucket.

Q18.In what situations are lists preferred over dictionaries

Use a list when you have an ordered collection of items and do not need to associate each element with a unique key.

Use a dictionary when you need fast lookup by key or have data in key-value pairs.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval

In Python, dictionaries are considered unordered because, historically, they do not guarantee that items are stored in any particular order. Instead of storing elements sequentially, dictionaries use a hash table, where each key is hashed to determine where its value is stored in memory.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval

Use a list when you want position-based access or need an ordered sequence.

Use a dictionary when you want fast, key-based access regardless of order.

## Practical Questions

Q1.Write a code to create a string with your name and print it

In [10]:
name = "Sarthak Agrawal"
print(name)

Sarthak Agrawal

Q2.Write a code to find the length of the string "Hello World"

In [11]:
text = "Hello World"
length = len(text)
print(length)

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming"

In [13]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

Q4.Write a code to convert the string "hello" to uppercase

In [14]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [15]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Q6.Write a code to create a list with numbers 1 to 5 and print it

In [16]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [17]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [18]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [19]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [20]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [2]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [4]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print(index_of_cat)

1

Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [6]:
letters = {'a', 'b', 'c'}
print(letters)

{'a', 'c', 'b'}

Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [7]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [8]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [10]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [11]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}. result.(replaced)

In [12]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [13]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [14]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [15]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [16]:
# Creating a list
my_list = [1, 2, 3]

# Creating a tuple
my_tuple = (4, 5, 6)

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [17]:
import random

# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Print the sorted list
print(numbers)

[5, 58, 72, 87, 98]

Q28.Write a code to create a list with strings and print the element at the third index.

In [18]:
# Create a list of strings
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index
print(fruits[3])

date

Q29.Write a code to combine two dictionaries into one and print the result.

In [19]:
# Two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30.Write a code to convert a list of strings into a set

In [20]:
# List of strings
fruits_list = ["apple", "banana", "apple", "cherry"]

# Convert list to set
fruits_set = set(fruits_list)

# Print the set
print(fruits_set)

{'cherry', 'apple', 'banana'}